<div class="container">
  <h2>{{agent.name}}</h2>
  <img src={{agent.image}} alt="" />
  <p>
    Contact info: {{agent.phone}}, {{agent.email}}
  </p>

  {{#each agent.houses as |house|}}
    <h3>{{house.type}}</h3>
    <img src={{house.image1}} alt="" />
  {{/each}}

</div>
