<h5>{{agent.name}}</h5>

<img src={{agent.image}} alt="" />
<p>
  {{agent.email}}, {{agent.phone}}
</p>

<h4>Agent Listings</h4>
<div class="properties">
  {{#each agent.houses as |house|}}
    <div class="house-type">
      <p>
        {{house.type}}
      </p>
      {{#link-to 'detail' house.id}}<img src={{house.image1}} alt="" /> {{/link-to}}
      <p>
        {{house.street}},
        {{house.cityState}}
      </p>
    </div>
  {{/each}}
</div>
