
<h3>{{house.type}}</h3>
<p>
  ${{house.price}}
</p>
<p>
  {{house.street}}
</p>

<p>
  {{house.cityState}}
</p>
{{#link-to 'detail' house.id}}<p>
  <img src={{house.image}} alt="" />
</p>{{/link-to}}
<p class="small">click image for property details</p>
