<h2>Property Details</h2>

<h3>{{model.type}}</h3>
<h6>{{{textFormat model.description}}}</h6>
<p>
  ${{model.price}}
</p>
<p>
  {{model.street}}
</p>

<p>
  {{model.cityState}}
</p>
<p>
  <img src={{model.image1}} alt="" />
</p>
<p>
  <img src={{model.image2}} alt="" />
</p>
<p>
  <img src={{model.image3}} alt="" />
</p>
<p>
  <img src={{model.image4}} alt="" />
</p>
<p>
  {{model.bedrooms}} Bedrooms
</p>
