<div class="container">
  <h2>{{model.type}} at {{model.street}}</h2>
  <h3>{{model.cityState}}</h3>

  <div class="small-map">
    {{#g-map lat=model.lat lng=model.lng zoom=14 as |context|}}
      {{g-map-marker context lat=model.lat lng=model.lng}}
    {{/g-map}}
  </div>

  <h6>{{{textFormat model.description}}}</h6>

  <p>
    <h5>For Sale: ${{model.price}}</h5>
  </p>
  <p>
    Get pre-approved
  </p>

  <p>
    Estimate Mortgage: Unknown
  </p>

  <p>
    {{model.bedrooms}} Bedrooms
  </p>
  <div class="detail-img">
    <p>
      <img src={{model.image1}} alt="" />
    </p>
    <p>
      <img src={{model.image2}} alt="" />
    </p>
    <p>
      <img src={{model.image3}} alt="" />
    </p>
    <p>
      <img src={{model.image4}} alt="" />
    </p>
  </div>

</div>
