<div class="container">
  <h2>{{model.type}} at {{model.street}}</h2>
  <h3>{{model.cityState}}</h3>

<h6>{{{textFormat model.description}}}</h6>

  <p>
    <h5>For Sale: ${{model.price}}</h5>
  </p>
  <p>
    Get pre-approved
  </p>

  <p>
    Estimate Mortgage: Unknown
  </p>

  <p>
    {{model.bedrooms}} Bedrooms
  </p>
  <div class="detail-img">
    <p>
      <img src={{model.image1}} alt="" />
    </p>
    <p>
      <img src={{model.image2}} alt="" />
    </p>
    <p>
      <img src={{model.image3}} alt="" />
    </p>
    <p>
      <img src={{model.image4}} alt="" />
    </p>
  </div>
</div>
